<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/hire.svg" alt="">
  </div>
  <div class="headings">
    <h2>Connect</h2>
    <h3>A place to hire, A chance to get hired</h3>
    <a href="/about" class="btn">About</a>
  </div>
</header>


<%- include('partials/footer'); -%>